<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
    </app-page-header>
    <form id='frmInfo' #frmInfo="ngForm" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-info text-white">Master
                        <div class="btn-group btn-group-sm pull-right" role="group"
                         aria-label="">
                            <a class="btn btn-primary" href="Javascript:void(0)" [routerLink]="['/adminLayout/settings/master']">
                                <i class="fa fa-list"></i>
                            </a>
                            <button type="submit" [disabled]="!frmInfo.form.valid || forminvalid" class="btn btn-warning"><i
                                    class="fa fa-save"></i></button>
                                        <button type="button" class="btn btn-default">
                                            <i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row show-hide-message">
                            <div [ngClass]="messageClass"> {{ message }}</div>
                        </div>
                        <validation-summary [form]="frmInfo"></validation-summary>
                        <div class="form-group">
                            <input type="hidden" value="0" name="RoleId" [(ngModel)]="model._id" />
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                
                                <div class="form-group">
                                    <label for="Category">{{ 'Master.Category' | translate }}</label>
                                    <select autofocus="autofocus" id="Category" [(ngModel)]="model.Category" class="hideLabel form-control"
                                        name="Category">
                                        <option selected="" value="0"></option>
                                        <option [ngValue]="item._id" *ngFor="let item of list">
                                            {{item.FormName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="FormName">{{ 'Master.FormName' | translate }}</label>
                                    <input required type="text" id="FormName" (focus)="message=''; messageClass='';"
                                        name="FormName" class="form-control" minlength="3" maxlength="100"
                                        customValidator alphaNumericValid [(ngModel)]="model.FormName" (blur)="checkDuplication()" />
                                </div>

                             
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Description">{{ 'Master.Description' | translate }}</label>
                                    <input type="text" id="Description" name="Description" class="form-control"
                                        [(ngModel)]="model.Description" />
                                </div>
                                <div class="form-group" [hidden]="IsFormChecked">
                                    <label for="RouteUrl">{{ 'Master.RouteUrl' | translate }}</label>
                                    <input type="text" id="RouteUrl" class="form-control" name="RouteUrl" [(ngModel)]="model.RouteUrl" />
                                </div>
<div class="form-group">
    <label>{{ 'Master.Permissions' | translate }}</label>
    <label>
        <input type="checkbox" id="IsForm" (change)="showRoute($event)" name="IsForm" [(ngModel)]="model.IsForm" />
        {{ 'Master.IsForm' | translate }}</label>
    <label>
        <input type="checkbox" id="IsData" name="IsData" [(ngModel)]="model.IsData" />
        {{ 'Master.IsData' | translate }}</label>
</div>
                            </div>
                            <div class="col-sm-4">
                                <table class="table table-striped">
                                    <thead>
                                        <th colspan="2">Log</th>
                                    </thead>
                                    <tr *ngFor="let item of model.Modified.slice().reverse(); let i=index">
                                        <td>{{i + 1}}.</td>
                                        <td>
                                            {{item.ModifiedBy}}<br>
                                            {{item.ModifiedDate | date:'medium'}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>