<ul class="list-group" #menu>
    <li *ngFor="let parentNode of menuList" class="list-group-item">
        <span *ngIf="parentNode.Users?.length" (click)="toggleChildren(parentNode)">
            <b *ngIf="parentNode.Visible">-</b>
            <b *ngIf="!parentNode.Visible">+</b>
        </span>
        {{ parentNode.rolename }}
        <a href="javascript:void(0)" class="fa fa-trash pull-right" title="Delete" (click)="onClick($event)"> </a>
        <a class="fa fa-edit pull-right" title="Edit" 
        [routerLink]="['/settings//roleform',{_id:parentNode._id}]">        </a>
        <a class="fa fa-user pull-right" title="Map User" 
        [routerLink]="['/settings//mapuser',{_id:parentNode._id}]">        </a>
        <a class="fa fa-cogs pull-right" title="Form Permissions"
         [routerLink]="['/settings//formpermissions',{_id:parentNode._id}]">        </a>
        <tree-view [menuList]="parentNode.Users" *ngIf="parentNode.Visible"></tree-view>
    </li>
</ul>