<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
        {{ 'FormDesign.Title' | translate }}
    </app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info text-white">{{ 'FormDesign.Title' | translate }}
                    <div class="btn-group btn-group-sm pull-right" [hidden]="category" role="group" aria-label="">
                        <a class="btn btn-primary" href="Javascript:void(0)" title="Form design lis" [routerLink]="['/adminLayout/formbuilder']"><i
                                class="fa fa-list"></i></a>
                        <a class="btn btn-success" href="Javascript:void(0)" [routerLink]="['/adminLayout/formbuilder/formdesign']">
                            <i class="fa fa-plus"></i>                        </a>
                        <a class="btn btn-danger" href="Javascript:void(0)" (click)="delete()"> 
                            <i class="fa fa-trash"></i>                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <search (searchEvent)="search($event)" [fields]="fields" [Total]="constants.RecordTotal"></search>
                    <br>
                    <table class="table table-striped" (window:scroll)="onScroll($event)">
                        <thead id='tbleHead'>
                            <tr>
                                <th><a href="Javascript:void(0)"> <i class="fa fa-edit"></i>                                    </a></th>
                                <th scope="col">
                                    <input type="checkbox" id="chkSelectAll" (change)="selectAll($event.target.checked)" />
                                </th>
                                <th>Sl.No.</th>
                                <th scope="col">{{ 'FormDesign.Name' | translate }}</th>
                                <th scope="col">{{ 'CreatedBy' | translate }}</th>
                                <th scope="col">{{ 'CreatedDate' | translate }}</th>
                                <th scope="col">{{ 'ModifiedBy' | translate }}</th>
                                <th scope="col">{{ 'ModifiedDate' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyList">
                            <tr *ngFor="let item of list; let i=index">
                                <td>
                                    <a [routerLink]="['/adminLayout/formbuilder/formdesign',{_id:item._id}]">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <input type="checkbox" class="chkTbl" name="chkTbl" id="chk{{item._id}}" [checked]="IschkTbl"
                                        (change)="selectRow($event.target)" value="{{item._id}}" /> </td>
                                <td>{{i + 1}}</td>
                                <td>
                                    {{item.Title}}</td>
                                <td>{{item.CreatedBy}}</td>
                                <td>{{item.CreatedDate | date:'medium'}}</td>
                                <td> {{item.Modified[0]?.ModifiedBy}}</td>
                                <td>{{item.Modified[0]?.ModifiedDate| date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>