<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
        Master
    </app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info">Field Settings
                    <a class="btn btn-info pull-right btn-sm" href="Javascript:void(0)" aria-controls="divpanelFormDesign"
                        (click)="toggle('divpanelField')">
                        <i class="togglecls fa fa-minus"></i>
                    </a>
                    <a class="btn btn-success pull-right btn-sm" href="Javascript:void(0)">
                        <i class="togglecls fa fa-save"></i>
                    </a></div>
                <div class="card-body collapse show" id="divpanelField">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            Included Fields
                            <select id="ddlIncluded" multiple class="form-control" 
                            name="Columns" style="height: 200px;">
                                <option [ngValue]="item._id" *ngFor="let item of list">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-1" style="margin-top: 60px;">
                            <button type="button" id="DownArrow" (click)="FieldSetting($event,'includedown')" class="btn btn-success fa fa-arrow-down btn-block">
                            </button>
                            <br>
                            <button type="button" id="btnUpArrow" (click)="FieldSetting($event,'includeup')" class="btn btn-success fa fa-arrow-up btn-block">
                            </button>
                        </div>
                        <div class="col-sm-2 col-md-1 pull-center" style="margin-top: 60px;">
                            <button type="button" id="btnMovetoright" (click)="FieldSetting($event,'right')" class="btn btn-success fa fa-forward btn-block">
                            </button>
                            <br>
                            <button type="button" id="btnMovetoleft" (click)="FieldSetting($event,'left')" class="btn btn-success fa fa-backward btn-block">
                            </button>
                        </div>
                        <div class="col-sm-2 col-md-1" style="margin-top: 60px;">
                            <button type="button" id="btnDownArrow" (click)="FieldSetting($event,'excludedown')" class="btn btn-success fa fa-arrow-down btn-block">
                            </button>
                            <br>
                            <button type="button" id="btnUpArrow" (click)="FieldSetting($event,'excludeup')" class="btn btn-success fa fa-arrow-up btn-block">
                            </button>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            Excluded Fields
                            <select id="ddlExcluded" multiple class="form-control" 
                            name="ddlExcluded" style="height: 200px;"></select>
                        </div>
                        <div class="col-sm-4 col-md-3"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-info">Configure form design
                    <a class="btn btn-info pull-right btn-sm" href="Javascript:void(0)" aria-controls="divpanelFormDesign"
                        (click)="toggle('divpanelFormDesign')">
                        <i class="togglecls fa fa-minus"></i>
                    </a><a class="btn btn-success pull-right btn-sm" href="Javascript:void(0)">
                        <i class="togglecls fa fa-save"></i>
                    </a> </div>
                <div class="card-body collapse show" id="divpanelFormDesign">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="chkSelectAll" (change)="selectAll($event.target.checked)" />
                                        </th>
                                        <th>Sl.No.</th>
                                        <th>Form Design List</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyFormDesing">
                                    <tr *ngFor="let item of formdesignlist; let i=index ">
                                        <td>
                                            <input type="checkbox" id="chk{{item._id}}" [checked]="IschkFormTbl"
                                                (change)="selectRow($event.target,'tbodyFormDesing')" value="{{item._id}}" />
                                        </td>
                                        <td>{{i + 1}}</td>
                                        <td> {{item.Title}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>