<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
        Master
    </app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">{{ 'Master.FieldSettings' | translate }} for {{role}}
                    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="">
                        <a class="btn btn-secondary" href="Javascript:void(0)" [routerLink]="['/settings/master']">
                            <i class="fa fa-list"></i>
                        </a>
                        <a class="btn btn-secondary" href="Javascript:void(0)" (click)="save();">
                            <i class="fa fa-save"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="chkSelectAll" (click)="selectAll($event.target.checked)" />
                                </th>
                                <th>{{ 'Users.Email' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody #tbodyUsers>
                            <tr *ngFor="let item of list; " style="cursor: move" draggable="true" (dragenter)="dragenter($event)" (dragstart)="dragstart($event)">
                                <td>
                                    <input type="checkbox" class="chkTblUsers" [checked]="IschkUsers" id="chkitem._id" (click)="selectHeaderCheck($event.target.checked)"
                                        [(ngModel)]="item.IsRoleAssigned" value="{{item._id}}" /> </td>
                                <td> {{item.email}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>