<div [@routerTransition]>
    <div class="row show-hide-message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="Country">{{ 'Country' | translate }}</label>
            <select formControlName="Country" id="Country" #Country class="hideLabel form-control" name="Country">
                <option [ngValue]="item._id" *ngFor="let item of countries">
                    {{item.FormName}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="CompanyName">{{ 'CompanyName' | translate }}</label>
            <input type="text" name="CompanyName" autofocus="autofocus" class="form-control" autocomplete="on" placeholder="*{{ 'Pricing.CompanyName' | translate }}"
                [(ngModel)]="model.CompanyName"  />
           
        </div>
        <!-- Email Input -->
        <div class="form-group">
                <input type="text" name="email" class="form-control input-underline input-lg" autocomplete="off" placeholder="*Email" formControlName="email"
                    (blur)="checkEmail()" />
        </div>

        <!-- Password Input -->
        <div class="form-group">
                <input type="password" name="password" autocomplete="off" class="form-control input-underline input-lg" autocomplete="off"
                    placeholder="*Password" formControlName="password" />
        </div>

        <!-- Confirm Password Input -->
        <div class="form-group">
                <input type="password" name="confirm" autocomplete="off" class="form-control input-underline input-lg" autocomplete="off"
                    placeholder="*Confirm Password" formControlName="confirm" />
        </div>
        <div class="form-group">
            <label for="ContactNo">{{ 'ContactNo' | translate }}</label>
            <input type="text" name="ContactNo" class="form-control" autocomplete="on" placeholder="*{{ 'Pricing.ContactNo' | translate }}"
                [(ngModel)]="model.ContactNo" formControlName="ContactNo" />
        </div>
        <input (click)="onSubmit()" type="submit" class="btn btn-primary" value="{{ 'SaveBtn' | translate }}" />
    </form>
</div>