<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
        Role
    </app-page-header>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                    <div class="card-header bg-info text-white">Role
                        <div class="btn-group btn-group-sm pull-right" [hidden]="category" role="group" aria-label="">
                            <a class="btn btn-success" href="Javascript:void(0)" title="Add Role" [routerLink]="['/adminLayout/settings/roleform']">
                                <i class="fa fa-plus"></i>
                            </a>
                    
                            <a class="btn btn-danger" href="Javascript:void(0)" (click)="delete()">
                                <i class=" fa fa-trash"></i>
                            </a>
                    
                        </div>
                    </div>
               
                <div class="card-body">
                    <search (searchEvent)="search($event)" [fields]="fields" [Total]="constants.RecordTotal"></search>
                <br><table class="table table-striped" (window:scroll)="onScroll($event)">
                        <thead id='tbleHead'>
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" id="chkSelectAll" (change)="selectedAll()" />
                                </th>
                                <th>Sl.No.</th>
                                <th scope="col">{{ 'Role.rolename' | translate }}</th>
                                <th scope="col">{{ 'CreatedBy' | translate }}</th>
                                <th scope="col">{{ 'CreatedDate' | translate }}</th>
                                <th scope="col">{{ 'ModifiedBy' | translate }}</th>
                                <th scope="col">{{ 'ModifiedDate' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyList">
                            <tr *ngFor="let item of list; let i=index">
                                <td>
                                    <input type="checkbox" name="chkTblMaster" id="chk{{item._id}}" (change)="selectedRecord($event,item._id)"
                                        value="{{item._id}}" /> </td>
                                        <td>{{i + 1}}</td>
                                <td>{{item.rolename}}</td>
                                <td>{{item.CreatedBy}}</td>
                                <td>{{item.CreatedDate | date:'medium'}}</td>
                                <td> {{item.Modified[0]?.ModifiedBy}}</td>
                                <td>{{item.Modified[0]?.ModifiedDate| date:'medium'}}</td>                                
                                <td>
                                    <a href="javascript:void(0)" class="fa fa-trash pull-right" title="Delete" (click)="onClick($event)">
                                    </a>
                                    <a class="fa fa-edit pull-right" title="Edit" [routerLink]="['/adminLayout/settings/roleform',{_id:item._id}]">
                                    </a>
                                    <a class="fa fa-user pull-right" title="Map User" [routerLink]="['/adminLayout/settings/maprole',{_id:item._id,role:item.rolename,type:'role'}]">
                                    </a>
                                    <a class="fa fa-cogs pull-right" title="Form Permissions" [routerLink]="['/adminLayout/settings/formpermissions',{_id:item._id,rolename:item.rolename}]">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>