<div [@routerTransition]>
    <form id='frmInfo' #frmInfo="ngForm" (ngSubmit)="save()">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-info text-white">Menu
                        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="">
                            <a class="btn btn-secondary" href="Javascript:void(0)" [routerLink]="['/adminLayout/menu']">
                                <i class="fa fa-list"></i>
                            </a>
                            <button type="submit" [disabled]="!frmInfo.form.valid || forminvalid" class="btn btn-warning"><i
                                    class="fa fa-save"></i></button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="panel">
                            <div id="FrmNew" class="panel-body">
                                <div class="row show-hide-message">
                                    <div [ngClass]="messageClass"> {{ message }}</div>
                                </div>
                                <validation-summary [form]="frmInfo"></validation-summary>
                                <input type="hidden" value="0" name="RoleId" class="form-control" [(ngModel)]="model._id" />
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="ParentId">{{ 'Menu.ParentId' | translate }}</label>
                                            <select autofocus="autofocus" [(ngModel)]="model.ParentId" id="ParentId"
                                                #ParentId class="hideLabel form-control" name="ParentId">
                                                <option selected="" value="0"></option>
                                                <option [ngValue]="item._id" *ngFor="let item of list">
                                                    {{item.MenuName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuName">{{ 'Menu.MenuName' | translate }}</label>
                                            <input type="text" name="MenuName" required maxlength="100" minlength="3"
                                                class="form-control" autocomplete="on" [(ngModel)]="model.MenuName"
                                                customValidator alphaNumericValid [(ngModel)]="model.MenuName" (blur)="checkDuplication()" />
                                        </div>
                                        <div class="form-group">
                                            <label for="LinkwithForm">{{ 'Menu.LinkwithForm' | translate }}</label>
                                            <select [(ngModel)]="model.LinkwithForm" id="LinkwithForm" #LinkwithForm
                                                class="hideLabel form-control" name="LinkwithForm">
                                                <option selected="" value="0"></option>
                                                <option [ngValue]="item._id" *ngFor="let item of formlist">
                                                    {{item.FormName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <label for="Icon">{{ 'Menu.Icon' | translate }}</label>
                                            <input type="text" name="Icon" class="form-control" autocomplete="on"
                                                [(ngModel)]="model.Icon" />
                                        </div>
                                        <div class="form-group">
                                            <label for="RouteUrl">{{ 'Menu.RouteUrl' | translate }}</label>
                                            <input type="text" name="RouteUrl" class="form-control" autocomplete="on"
                                                [(ngModel)]="model.RouteUrl">
                                        </div>
                                        <div class="form-group">
                                            <label for="Order">{{ 'Menu.Order' | translate }}</label>
                                            <input type="text" name="Order" class="form-control" autocomplete="on"
                                                [(ngModel)]="model.Order" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">

                                        <table class="table table-striped">
                                            <thead>
                                                <th colspan="2">Log</th>
                                            </thead>
                                            <tr *ngFor="let item of model.Modified.slice().reverse(); let i=index">
                                                <td>{{i + 1}}.</td>
                                                <td>
                                                    {{item.ModifiedBy}}<br>
                                                    {{item.ModifiedDate | date:'medium'}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Created On</th>
            <th>Last Modified</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td data-target=".order1" data-toggle="collapse" data-group-id="grandparent" data-role="expander">
                <div>&gt;</div>
            </td>
            <td>Parent 1</td>
            <td>04/02/2017</td>
            <td>04/04/2017</td>
        </tr>

        <tr class="collapse order1" id="collapseContent1" aria-expanded="true">
            <td></td>
            <td>Child A</td>
            <td>04/01/2017</td>
            <td>04/05/2017</td>
        </tr>

        <tr>
            <td data-target="#collapseContent2" data-toggle="collapse" data-group-id="grandparent" data-role="expander">
                <div>&gt;</div>
            </td>
            <td>Parent 2</td>
            <td>04/03/2017</td>
            <td>04/10/2017</td>
        </tr>

        <tr class="collapse" id="collapseContent2" aria-expanded="true">
            <td></td>
            <td>Child B</td>
            <td>04/03/2017</td>
            <td>04/04/2017</td>
        </tr>
    </tbody>
</table> -->
</div>
