<div [@routerTransition]>
    <app-page-header [heading]="Users" [icon]="'fa-list'"></app-page-header>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header bg-info text-white">{{ 'Users.Title' | translate }}
                    <div class="btn-group btn-group-sm pull-right" [hidden]="category" role="group" aria-label="">
                        <a class="btn btn-success" href="Javascript:void(0)" [routerLink]="['/adminLayout/settings/masterform']">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a class="btn btn-danger" href="Javascript:void(0)" (click)="delete()">
                            <i class=" fa fa-trash"></i>
                        </a>

                    </div>
                </div>
                <div class="card-body">
                    <search (searchEvent)="search($event)" [fields]="fields" [Total]="constants.RecordTotal"></search>
                    <br>

                    <table class="table table-striped" style="text-overflow: ellipsis;word-wrap: unset;">
                        <thead>
                            <tr>
                                <th><a href="Javascript:void(0)"> <i class="fa fa-edit"></i>
                                    </a>
                                <a class="fa fa-user" href="Javascript:void(0)"></a>
                                <a title="View" class="fa fa-search" href="Javascript:void(0)"></a></th>
                                <th scope="col">
                                    <input type="checkbox" id="chkSelectAll" (change)="selectAll($event.target.checked)" />
                                </th>
                                <th>Sl.No.</th>
                                <th>{{ 'Users.Email' | translate }}</th>
                                <th>{{ 'CreatedBy' | translate }}</th>
                                <th>{{ 'CreatedDate' | translate }}</th>
                                <th>{{ 'ModifiedBy' | translate }}</th>
                                <th>{{ 'ModifiedDate' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of list; let i=index">
                                <td>
                                    <a [routerLink]="['/adminLayout/settings/masterform',{_id:item._id}]">
                                        <i class="fa fa-edit"></i>
                                    </a><a class="fa fa-user" title="{{ 'Users.MapRole' | translate }}" [routerLink]="['/adminLayout/settings/maprole',{_id:item._id,user:item.email,type:'user'}]"></a>
                                    <a title="View" class="fa fa-search" (click)="open(content);viewUser(item._id);"></a>
                                </td>
                                <td>
                                    <input type="checkbox" class="chkTbl" name="chkTbl" id="chk{{item._id}}" [checked]="IschkTbl"
                                        (change)="selectRow($event.target)" value="{{item._id}}" /> </td>
                                <td>{{i + 1}}</td>                             
                                <td>{{item.email}}</td>
                                <td>{{item.CreatedBy}}</td>
                                <td>{{item.CreatedDate | date:'medium'}}</td>
                                <td> {{item.ModifiedBy}}</td>
                                <td>{{item.ModifiedDate| date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Users.TitleView' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>{{ 'Users.Email' | translate }} : </label>
            <span>{{ data.email}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'Users.Provider' | translate }} : </label>
            <span>{{ data.provider}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'CreatedBy' | translate }} : </label>
            <span>{{ data.CreatedBy}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'CreatedDate' | translate }} : </label>
            <span>{{ data.CreatedDate | date:'medium'}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'ModifiedBy' | translate }} : </label>
            <span>{{ data.ModifiedBy}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'ModifiedDate' | translate }} : </label>
            <span>{{ data.ModifiedDate | date:'medium'}}</span>
        </div>
        <div class="form-group">
            <label>{{ 'Users.Active' | translate }} : </label>
            <span>{{ data.Active}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
</div>