<div [@routerTransition]>
    <app-page-header [heading]="'Master'" [icon]="'fa-list'">
        Master
    </app-page-header>

    <form id='frmInfo' #frmInfo="ngForm" (ngSubmit)="save()">
        <div class="card"><input type="hidden" value="0" name="_id" class="form-control" [(ngModel)]="model._id" />
            <div class="card-header bg-info">Design Form
                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="">
                    <a class="btn btn-primary" href="Javascript:void(0)" [routerLink]="['/adminLayout/formbuilder']">
                        <i class="fa fa-list"></i>
                    </a>
                    <button type="submit" [disabled]="!frmInfo.form.valid" class="btn btn-warning">
                        <i class="fa fa-save"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row show-hide-message">
                    <div [ngClass]="messageClass"> {{ message }}</div>
                </div>
                <validation-summary [form]="frmInfo"></validation-summary>
                <div class="row">
                    <div class="col-sm-3">
                        <ngb-tabset type="pills">
                            <ngb-tab title="Add Field">
                                <ng-template ngbTabContent>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="textbox" (click)="controls($event)">Textbox</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="textarea" (click)="controls($event)">textarea</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="dropdown" (click)="controls($event)">dropdown</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="radio" (click)="controls($event)">radio</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="checkbox" (click)="controls($event)">checkbox</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="Javascript:void(0)" id="button" (click)="controls($event)">Button</a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    Properties</ng-template>
                                <ng-template ngbTabContent>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <ng-container [ngSwitch]="controlProperty">
                                                <div class="form-group">
                                                    <label class="control-label">Selected Control </label>
                                                    <select class="form-control" (change)='selectedControlFocus($event)'
                                                        id="ddlSelectedControl">
                                                        <option [ngValue]="item.id" *ngFor="let item of controlList">
                                                            {{ item}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Size</label>
                                                    <select class="form-control" (change)='UpdateControlValue($event,"class")'
                                                        data-type="select" id="ddlControlSize">
                                                        <option value="form-control">Default</option>
                                                        <option value="form-control-lg">Large</option>
                                                        <option value="form-control-sm">Small</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Id</label>
                                                    <input class="form-control" type="text" id="txtId" placeholder="Id"
                                                        (keyup)='UpdateControlValue($event,"id")'>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Class Name</label>
                                                    <input class="form-control" type="text" id="txtClassName"
                                                        placeholder="placeholder" (blur)='UpdateControlValue($event,"class")'>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Label Text </label>
                                                    <input class="form-control" type="text" id="txtLabel" placeholder="Text Input"
                                                        (keyup)='UpdateControlValue($event,"text")'>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="IsRequiredtextarea" (checked)='UpdateControlValue($event,"required")' />
                                                            <strong>Is Manadatory</strong>
                                                        </label>
                                                    </div>
                                                </div>
                                                <ng-container *ngSwitchCase="'textbox'">
                                                    <div class="form-group">
                                                        <label class="control-label">Type</label>
                                                        <select class="form-control" id="ddlTypetextbox" (change)='UpdateControlValue($event,"type")'>
                                                            <option value="text">text</option>
                                                            <option value="date">date</option>
                                                            <option value="datetime">datetime</option>
                                                            <option value="datetime-local">datetime-local</option>
                                                            <option value="email">email</option>
                                                            <option value="number">number</option>
                                                            <option value="password">password</option>
                                                            <option value="url">url</option>
                                                            <option value="time">time</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Placeholder</label>
                                                        <input class="form-control" type="text" (change)='UpdateControlValue($event,"placeholder")'
                                                            id="txtPlaceholderText" placeholder="placeholder">
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'textarea'">
                                                    <div class="form-group">
                                                        <label class="control-label">Rows </label>
                                                        <input class="form-control" (blur)='UpdateControlValue($event,"row")'
                                                            type="text" id="txtRows" value="5">
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'dropdown'">
                                                    <div class="form-group">
                                                        <label class="control-label">Values </label>
                                                        <textarea class="form-control" (blur)='UpdateControlValue($event,"value")'
                                                            data-type="textarea-split" id="txtOptionsdropdown">
                                        Option one
                                        Option two
                                    </textarea>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'radio'">
                                                    <div class="form-group">
                                                        <label class="control-label"> Values </label>
                                                        <textarea class="form-control" data-type="textarea-split"
                                                            (blur)='UpdateControlValue($event,"radiovalue")' id="txtOptionsradio">
                                        Option one
                                        Option two
                                    </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Layout</label>
                                                        <select class="form-control" data-type="select" (change)='UpdateControlValue($event,"class")'
                                                            id="ddlLayoutradio">
                                                            <option value="form-check">Vertical</option>
                                                            <option value="form-check-inline">Horizontal</option>
                                                        </select>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="  'checkbox'">
                                                    <div class="form-group">
                                                        <label class="control-label"> Values </label>
                                                        <textarea class="form-control" data-type="textarea-split"
                                                            (blur)='UpdateControlValue($event,"radiovalue")' id="txtOptionscheck">
                                            Option one
                                            Option two
                                        </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Layout</label>
                                                        <select class="form-control" data-type="select" (change)='UpdateControlValue($event,"class")'
                                                            id="ddlLayoutcheck">
                                                            <option value="form-check">Vertical</option>
                                                            <option value="form-check-inline">Horizontal</option>
                                                        </select>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'button'">
                                                    <div class="form-group">
                                                        <label class="control-label">Type</label>
                                                        <select class="form-control" id="ddlTypebutton" (change)='UpdateControlValue($event,"type")'>
                                                            <option value="button">button</option>
                                                            <option value="submit">submit</option>
                                                            <option value="reset">reset</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Style</label>
                                                        <select class="form-control" id="ddlButtonstyle" (change)='UpdateControlValue($event,"class")'>
                                                            <option value="btn-default">default</option>
                                                            <option value="btn-primary">primary</option>
                                                            <option value="btn-info">info</option>
                                                            <option value="btn-danger">danger</option>
                                                            <option value="btn-success">success</option>
                                                        </select>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </li>
                                    </ul>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                        <br>
                        <table class="table table-striped">
                            <thead>
                                <th colspan="2">Log</th>
                            </thead>
                            <tr *ngFor="let item of model.Modified.slice().reverse(); let i=index">
                                <td>{{i + 1}}.</td>
                                <td>
                                    {{item.ModifiedBy}}<br>
                                    {{item.ModifiedDate | date:'medium'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header bg-default">Form Design
                                <a class="pull-right" href="Javascript:void(0)" aria-controls="divpanelFormDesign"
                                    (click)="toggle('divpanelFormDesign')">
                                    <i class="togglecls fa fa-chevron-down"></i>
                                </a> </div>
                            <div class="card-body collapse show" id="divpanelFormDesign">
                                <div class="row" id="divDesign" style="cursor: move" draggable="true">
                                    <div class="col-sm-12 divDesign" id="divDesign1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-default">Form Preview
                                <a class="pull-right" href="Javascript:void(0)" aria-controls="divpanelPreview" (click)="toggle('divpanelPreview')">
                                    <i class="togglecls fa fa-chevron-down"></i>
                                </a>
                                <a class="pull-right" href="Javascript:void(0)" (click)="refreshPreview();">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="card-body collapse show " id="divpanelPreview">
                                <div class="card">
                                    <div class="card-header  bg-default" id="divPreviewForm">
                                        <span id="formHeader">Title</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="divPreview">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header bg-default">Form Properties
                                <a class="pull-right" href="Javascript:void(0)" aria-controls="divpanelFormProperties"
                                    (click)="toggle('divpanelFormProperties')">
                                    <i class="togglecls fa fa-chevron-down"></i>
                                </a>
                            </div>
                            <div class="card-body collapse show" id="divpanelFormProperties">
                                <div class="form-group">
                                    <label class="control-label">Columns</label>
                                    <select name="Columns" [(ngModel)]="model.Columns" class="form-control" (change)="FormColumns($event)"
                                        data-type="select" id="ddlColumns">
                                        <option value="1">column 1</option>
                                        <option value="2">column 2</option>
                                        <option value="3">column 3</option>
                                        <option value="4">column 4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Form Title</label>
                                    <input type="text" name="Title" required [(ngModel)]="model.Title" 
                                    id="txtFormTitle" class="form-control"
                                        (keyup)="FormInformation($event, 'title')" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Select Column</label>
                                    <select class="form-control" data-type="select" id="ddldivColumns">
                                        <option [ngValue]="item.id" *ngFor="let item of divColumnList">
                                            {{ item.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Form Style</label>
                                    <select name="Style" [(ngModel)]="model.Style" class="form-control" (change)="FormInformation($event, 'class')"
                                        data-type="select" id="ddlSelectedstyle">
                                        <option selected="" value="0"></option>
                                        <option value="default">default</option>
                                        <option value="primary">primary</option>
                                        <option value="info">info</option>
                                        <option value="danger">danger</option>
                                        <option value="success">success</option>
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>