<ul class="list-group" #menu>
    <li *ngFor="let parentNode of menuList" class="list-group-item" 
    style="cursor: move" draggable="true" (dragenter)="dragenter($event)"
        (dragstart)="dragstart($event)">
        <span *ngIf="parentNode.SubMenu?.length" (click)="toggleChildren(parentNode)">
            <b *ngIf="parentNode.Visible">-</b>
            <b *ngIf="!parentNode.Visible">+</b>
        </span>
        {{ parentNode.MenuName }}
        <a href="javascript:void(0)" class="fa fa-trash pull-right" title="Delete" (click)="onClick($event)"> </a>
        <a class="fa fa-edit pull-right" title="Edit"
         [routerLink]="['/adminLayout/menu/menucreate',{_id:parentNode._id}]"> </a>
        <app-menutree [menuList]="parentNode.SubMenu" *ngIf="parentNode.Visible"></app-menutree>
    </li>
</ul>